@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #090809;
  --seasalt: #F8F9FA;
  --cadet-gray: #A5A9AE;
  --off-red: #F40000;
  --maroon: #7F0405;
  --silver: #CFD1D4;
  --fourth-color:#FAD961;
  --third-color:#C9F24d;
  --blue:#65799B;
  --purple:#5E2563;

}

